@media screen and (min-width: 37.5em) {

	.blog,
	.single-post,
	.tax-vehicle_type {

		.page-header {
			width: 100%;
		}

		.content-area {
			display: flex;
			flex-wrap: wrap;
		}

		.site-main {
			flex: 1;
		}

		.site-content .widget-area {
			width: $size__site-sidebar;
		}

	}

}
