@media screen and ($large-up) {

	.site-main {
		padding-bottom: $padding * 4;
	}

	.blog,
	.single-post {

		.page-header {
			width: 100%;
		}

		.content-area {
			display: flex;
			flex-wrap: wrap;
		}

		.site-main {
			flex: 1;
			padding-bottom: $padding * 8;
		}

		.widget-area {
			width: $size__site-sidebar;
			margin-left: $padding * 4;
		}

	}
}
