a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 3px solid;
	border-color: $color__border-button;
	color: $color__border-button;
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;
	text-decoration: none;

	&:hover {
		border-color: $color__border-button-hover;
		color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		color: $color__border-button-focus;
		border-color: $color__border-button-focus;
	}
}
