@mixin button($border: 3px solid $color__border-button) {
	border: $border;
	color: $color__border-button;
	cursor: pointer;
	font-family: $font__alt;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		border-color: $color__border-button-hover;
		color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		color: $color__border-button-focus;
		border-color: $color__border-button-focus;
	}
}


a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button();
	@include fluid-units( 'font-size', 1.25, 1.625 );
	font-weight: bold;
	letter-spacing: 0.03125em;
	padding: 1.1rem 1.5rem 1rem;
}

a.icon-button,
button.icon-button {
	background-color: transparent;
	border: 0;
}

.button.cta {
	background: $color__background-body;
	display: table;
	margin: $padding * 3 auto;
	position: relative;
	transition: none;

	&:after {
		background: $bluegray-lt;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: -4px;
		right: -4px;
		z-index: -1;
	}

	&:hover,
	&:focus {
		transform: translate(4px, 4px);

		&:after {
			bottom: 0;
			right: 0;
			opacity: 0; // fix Chrome bug
		}
	}
}