input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background: $cream;
	color: $color__text-input;
	border: 1px solid $color__border-input;
	padding: 3px;
	transition: all 0.125s;

	&:focus {
		background: $white;
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.search-form {
	position: relative;
	.search-field {
		border-color: transparent;
		line-height: 1;
		padding: 0.225em;
	}
	.icon-button {
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

.search-glass {
	fill: $bluegray-dk;
	height: 1.75rem;
	width: 1.75rem;
}