.wrap {
	margin: 0 auto;
	max-width: $size__site-main;
	padding-left: $padding;
	padding-right: $padding;
	width: 100%;
}

// hide overflow from full-width sections
.site {
	overflow-x: hidden;
}

@import "../layout/content-sidebar";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
