.wrap {
	margin: 0 auto;
	max-width: $size__site-main;
	padding-left: $padding;
	padding-right: $padding;
	width: 100%;
}

body {
	overflow-x: hidden; // hide overflow from full-width sections
}

.site {
	position: relative; // needed for sticky header
}

@import "../layout/content-sidebar";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
