html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-size: 100%;
	font-weight: 400;
}

// lighten fonts in Firefox
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
