html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	border: 2px solid $bluegray-dk;
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */

	.no-border & {
		border: 0;
	}
}

figure {
	margin: 0;
}

.wp-block-cover {
	@include full-width;
}

.callout {
	@include full-width;
	background: $color__background-screen;
	border-bottom: 5px solid $red;
	color: $white;

	a {
		color: $white;
		text-decoration: none;
	}

	.widget {
		padding-top: $padding * 2;
		padding-bottom: $padding * 2;
		@include wrap();
	}

	.widget-title {
		color: $cream;
		margin: 0;
	}

	.textwidget {
		@include fluid-units( 'font-size', 1.125, 1.62 );
		font-family: $font__alt;
		font-size: 1.62rem;
		text-align: center;
	}

	@media screen and ($medium-down) {
		text-align: center;

		.textwidget div {
			margin-top: $padding;
		}
	}

	@media screen and ($medium-up) {

		.widget {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
		}

		.widget-title,
		.textwidget {
			flex: 50%;
		}

		.textwidget {
			align-content: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}
} // .callout

.pullquote {
	@include full-width;
	background-color: $silver;
	background-image: linear-gradient($gray-lt 5%, $white 50%, $gray-lt 95%);
	padding-top: $padding * 4;
	padding-bottom: $padding * 4;

	h2 {
		border-bottom: 2px solid $red;
		color: $bluegray;
		display: table;
		padding-left: $padding * 3;
		padding-right: $padding * 3;
		padding-bottom: $padding;
		margin-top: 0;

		&.has-text-align-center {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.wp-block-pullquote {
		@include center-block;
		border-left: 0;
		max-width: 57rem;
		padding: 0;
	}

	p {
		@include fluid-units( 'font-size', 1.25, 1.62 );
		color: $bluegray-dk;
	}

	cite {
		@include fluid-units( 'font-size', 1.25, 1.625 );
	}
} // .pullquote

@import "tables";
