html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	border: 2px solid $bluegray-dk;
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

.callout,
.wp-block-cover {
	margin-left: -($padding / 2);
	margin-right: -($padding / 2);
	width: auto; // reset

	@media screen and ($xlarge-up) {
		margin-left: calc(-100vw / 2 + #{$size__site-main} / 2);
		margin-right: calc(-100vw / 2 + #{$size__site-main} / 2);
	}
}

.callout {
	background: $color__background-screen;
	border-bottom: 5px solid $red;
	color: $white;

	a,
	.widget-title {
		color: $white;
	}

	a {
		text-decoration: none;
	}

	.widget-title,
	.textwidget {
		flex: 50%;
	}

	.widget {
		@include wrap();
		display: flex;
		flex-wrap: wrap;
	}

	.textwidget {
		@include fluid-units( 'font-size', 1.25, 1.62 );
		align-content: center;
		display: flex;
		flex-wrap: wrap;
		font-family: $font__alt;
		justify-content: space-around;
		letter-spacing: 0.0625em;
		text-align: center;

		div {

		}
	}
} // .callout

@import "tables";
