$bluegray: #4e5f73;
$bluegray-dk: #2e3740;
$bluegray-lt: #6180a6;
$red: #b5161c;
$cream: #efeadc;

$white: #fdfefe;
$silver: #e5e6e7;
$gray: #959AA1;
$black: #222222;

$color__background-body: $white;
$color__background-screen: $bluegray-dk;
$color__background-hr: $silver;
$color__background-pre: $white;
$color__background-ins: $white;

$color__text-screen: $black;
$color__text-input: $black;
$color__text-input-focus: $black;
$color__link: $red;
$color__link-hover: darken($red, 10);
$color__text-main: $black;

$color__border-button: $bluegray-lt;
$color__border-button-hover: $bluegray;
$color__border-button-focus: $bluegray;
$color__border-input: $bluegray-lt;
$color__border-abbr: $silver;
