// max widths
$size__site-main: 84rem;
$size__site-narrow: 50rem;
$size__site-sidebar: 25%;

// general padding/margins
$padding: 1rem;


// breakpoints
$small-down: 'max-width: 29.9rem';
$medium-down: 'max-width: 39.9rem';
$medium-up: 'min-width: 30rem';
$large-down: 'max-width: 85.9rem';
$large-up: 'min-width: 40rem';
$xlarge-up: 'min-width: 60rem';
$xxlarge-up: 'min-width: 86rem';