// max widths
$size__site-main: 84rem;
$size__site-narrow: 58rem;
$size__site-sidebar: 25%;

// general padding/margins
$padding: 1rem;


// breakpoints
$medium-down: 'max-width: 39.9rem';
$medium-up: 'min-width: 30rem';
$large-up: 'min-width: 40rem';
$xlarge-up: 'min-width: 86rem';