.site-footer {
	background: $color__background-screen;
	padding: ($padding * 2) $padding;
	.widget {
		text-align: center;
		margin-top: $padding * 2;
		margin-bottom: $padding * 2;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
} // .site-footer