.main-navigation {
	display: flex;
	flex-wrap: wrap;
}

.site-branding {
	margin: 0;

	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 24rem;
	}
}

.site-header {
	background: $color__background-screen;
	border-bottom: 5px solid $red;
}

.site-branding {
	flex: 1;
}

// Swap nav version based on viewport size
.desktop-nav {
	display: none;
}
@media screen and ($large-up) {
	#mobile-nav,
	.main-navigation.toggled #mobile-nav {
		display: none;
	}
	.desktop-nav {
		display: flex;
		flex-wrap: wrap;
	}
}

@media screen and ($large-up) {
	.site-branding {
		img {
			max-width: 20rem;
		}
	}
}

button.menu-toggle {
	background-color: $black;
	background-image: url('../img/navicon.svg');
	background-repeat: no-repeat;
	height: 4rem;
	width: 4rem;

	.toggled & {
		background-image: url('../img/close-x.svg');
	}
}

.site-footer {
	background-image: linear-gradient($black, $color__background-screen, $color__background-screen);
	border-top: 5px solid $red;
	color: $cream;
	padding: $padding $padding ($padding * 2);

	a {
		color: $cream;
	}

	h2, h3, h4 {
		color: $white;
	}

	.widget {
		text-align: center;
		margin-top: $padding;
		margin-bottom: $padding;
	}

	@media screen and ($large-up) {
		.wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.main-navigation,
		.site-info {
			width: 100%;
		}

		.widget {
			flex: 1;
			&:nth-of-type(odd) {
				text-align: left;
			}
			&:nth-of-type(even) {
				text-align: right;
			}
		}

		.site-info {
			text-align: right;
		}
	}
} // .site-footer