.main-navigation {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.site-title {
	margin: 0;
}

.site-header {
	background: $color__background-screen;
	border-bottom: 5px solid $red;
}

@media screen and (max-width: 37.4em) {
	.main-navigation .search-form {
		width: 100%;
	}
	.site-header { // modify header for menu toggle button
		.main-navigation ul {
			display: none;
		}
		.site-branding {
			flex: 1;
		}
	}
}

@media screen and (min-width: 37.5em) {
	.site-header .main-navigation {
		height: 6.125rem;
	}
	.main-navigation .search-form {
		margin-left: $padding;
	}
	.main-menu {
		align-self: stretch;
	}
	.site-branding {
		flex: 1;
		img {
			max-width: 20rem;
		}
	}
}

.site-footer {
	background: $color__background-screen;
	color: $cream;
	padding: ($padding * 2) $padding;
	a {
		color: $cream;
	}
	h2, h3, h4 {
		color: $white;
	}
	.widget {
		text-align: center;
		margin-top: $padding * 2;
		margin-bottom: $padding * 2;
	}
	@media screen and (min-width: 37.5em) {
		.wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.main-navigation,
		.site-info {
			width: 100%;
		}
		.widget {
			flex: 1;
			&:nth-of-type(odd) {
				text-align: left;
			}
			&:nth-of-type(even) {
				text-align: right;
			}
		}
		.site-info {
			text-align: right;
		}
	}
} // .site-footer