
.main-navigation {
	font-family: $font__alt;
	line-height: 1;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li:hover > ul,
	li.focus > ul {
		left: 0;
	}

	li {
		font-size: 1.5rem;
		padding-left: $padding;
		padding-right: $padding;
		position: relative;
	}

	a {
		color: $cream;
		display: block;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $white;
		}
	}

} // .main-navigation


@media screen and ($medium-down) {
	.main-menu {
		width: 100%;
	}
	.main-navigation {
		position: relative;
	}
}

@media screen and ($large-up) {
	.menu-toggle {
		display: none;
	}
}


/*--------------------------------------------------------------
## Mobile Header Nav
--------------------------------------------------------------*/

.site-header #mobile-nav {
	background-color: $bluegray-dk;
	background-image: linear-gradient($black, $color__background-screen 15%);
	bottom: 0;
	height: 100vh;
	margin-left: -$padding;
	margin-right: -$padding;
	padding: ($padding * 2) ($padding * 4);
	position: absolute;
	text-align: center;
	width: calc(100% + (#{$padding} * 2));
	transform: translateY( calc( 100% + 5px ) ); // compensate 5px for border
	z-index: 9;

	a {
		padding: $padding;
		width: 100%;
	}

	.search-form {
		margin-top: $padding;
		width: 100%;
	}
}

// Toggle
.site-header {
	#mobile-nav {
		display: none;
	}

	.main-navigation.toggled #mobile-nav {
		display: block;
	}
}


/*--------------------------------------------------------------
## Desktop Nav
--------------------------------------------------------------*/

.desktop-nav {
	height: 100%;

	.search-form {
		align-self: center;
		margin-left: $padding;
	}

	.menu {
		height: 100%;
		> li {
			display: inline-flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;

			> a {
				border-bottom: 2px solid transparent;
			}

			&:hover > a,
			&.focus > a,
			&.current_page_item > a,
			&.current-menu-item > a {
				border-color: rgba($white, 0.4);
			}
		}
	}
} // .desktop-nav

.desktop-utility {
	background: darken( $bluegray-dk, 3);
	padding-top: $padding / 3;
	padding-bottom: $padding / 3;
	text-align: right;

	a {
		border-bottom: 1px solid transparent;
		color: $white;
		font-size: 0.85rem;
		font-weight: bold;
		letter-spacing: 0.175em;
		margin-left: $padding * 2;
		text-decoration: none;
		text-transform: uppercase;

		&:hover,
		&:focus {
			border-color: rgba($white, 0.4);
		}
	}
}


/*--------------------------------------------------------------
## Header Nav
--------------------------------------------------------------*/

.site-header .desktop-nav {
	height: 6.125rem;
}

.site-header .desktop-nav .menu > li {
	display: inline-flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	transition: all 0.125s;

	&:hover,
	&:focus,
	&:active {
		background: $red;

		.sub-menu {
			opacity: 1;
		}
	}
} // .site-header .desktop-nav .menu > li

.site-header .sub-menu {
	background: $red;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	min-width: 12rem;
	opacity: 0;
	position: absolute;
	transition: opacity 0.125s;
	top: 100%;
	left: -999em;
	z-index: 99999;

	li {
		&:hover > ul,
		&.focus > ul {
			left: 100%;
		}
		a {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
		+ li a {
			border-top: 1px solid rgba($white, 0.5);
		}
	}
}


/*--------------------------------------------------------------
## Posts Nav
--------------------------------------------------------------*/

.post-navigation {
	@include clearfix;
	border-top: 2px solid $silver;
	border-bottom: 2px solid $silver;
	max-width: $size__site-narrow;
	margin: $padding * 4 auto;
	width: 100%;

	h3 {
		@extend .h6;
		color: $red;
		margin-bottom: 0;
	}

	p {
		margin-top: 0;
	}

	a {
		color: $bluegray;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $black;
		}
	}
}

.nav-previous {
	float: left;
	width: 50%;
}

.nav-next {
	float: right;
	text-align: right;
	width: 50%;
	.nav-previous + & {
		border-left: 2px solid $silver;
	}
}


/*--------------------------------------------------------------
## Page Nav
--------------------------------------------------------------*/

.pagination {
	width: 100%;
}

.nav-links {
	margin-bottom: $padding * 4;
	margin-top: $padding * 4;
	text-align: center;
}

.page-numbers {
	@include button(1px solid);
	@include fluid-units( 'font-size', 1.375, 2 );
	align-items: center;
	color: $bluegray-dk;
	display: inline-flex;
	height: 3rem;
	justify-content: center;
	padding-top: 0.15em;
	width: 3rem;

	&.next,
	&.prev {
		border-color: transparent;
	}

	&:hover,
	&:focus,
	&.current {
		background: $color__link;
		border-color: $color__link;
		color: $white;
	}

	+ .page-numbers {
		margin-left: $padding * 0.75;
	}
}
