
.main-navigation {
	font-family: $font__alt;
	line-height: 1;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		margin-left: 0;
		position: relative;
	}

	a {
		color: $cream;
		display: block;
		font-size: 1.375rem;
		padding: $padding * 0.75;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $white;
		}
	}

} // .main-navigation


@media screen and ($medium-down) {
	.main-menu {
		width: 100%;
	}
	.main-navigation {
		position: relative;
	}
}

@media screen and ($xlarge-up) {
	.menu-toggle {
		display: none;
	}
}


/*--------------------------------------------------------------
## Mobile Header Nav
--------------------------------------------------------------*/

.site-header #mobile-nav {
	background-color: $bluegray-dk;
	background-image: linear-gradient($black, $color__background-screen 15%);
	bottom: 0;
	height: calc(100vh - 4rem - 5px); // compensate for sticky header & border
	left: 0;
	overflow-y: auto;
	padding: ($padding * 2) ($padding * 3);
	position: absolute;
	right: 0;
	text-align: center;
	transform: translateY( calc( 100% + 5px ) ); // compensate 5px for border
	z-index: 9;

	a {
		width: 100%;
	}

	.search-form {
		margin-top: $padding;
		margin-bottom: $padding * 3;
		width: 100%;
	}

	.menu > li {
		margin-top: $padding * 1.5;
		margin-bottom: $padding * 1.5;

		> a {
			border-bottom: 1px solid $bluegray-lt;
			margin-bottom: $padding / 2;
		}
	}

	.current-menu-item a {
		color: $bluegray-lt;
	}

	.current-menu-item a,
	.menu-item-has-children > a {
		cursor: default;
	}

	.sub-menu a {
		font-size: 1.375rem;
	}
} // .site-header #mobile-nav

// Toggle
.site-header {
	#mobile-nav {
		display: none;
	}

	.main-navigation.toggled #mobile-nav {
		display: block;
	}
}

// Social Links / Utility
.mobile-utility {
	@include social-icons($inline: false);
	margin-top: $padding * 2;
	margin-bottom: $padding * 2;
}


/*--------------------------------------------------------------
## Desktop Nav
## note: '.focus' is used on li elements, ':focus' on a elements
--------------------------------------------------------------*/

.desktop-nav {

	.search-form {
		align-self: center;
		margin-left: $padding;
		width: 11rem;
	}

	// Without JS, sub-menus appear on hover with a mouse
	// or when focused with a keyboard
	.no-js & .menu-item .sub-menu {
		visibility: hidden;
		opacity: 0;
		transition: none;
	}

	.no-js & .menu-item:hover .sub-menu,
	.no-js & .menu-item:focus-within .sub-menu {
		visibility: visible;
		opacity: 1;
		transition: none;
	}

	.menu > li {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;

		> a {
			padding: 2.3125em ($padding * 0.75) 2.25em; // Important to use EMs for vertical measure
			position: relative;
			transition: background 250ms ease;

			// Line under the text
			&::before {
				background: transparent;
				content: '';
				position: absolute;
				top: 3.3125em;
				left: ($padding * 0.75);
				right: ($padding * 0.75);
				height: 2px;
				transition: background 250ms ease;
			}
		}

		&.current-menu-parent > a {
			background-color: darken( $bluegray-dk, 4);

			&::before {
				background: rgba($white, 0.4)
			}
		}

		> a:hover,
		> a:focus,
		> a[aria-expanded=true],
		&:focus-within > a,
		.no-js &:hover > a,
		.no-js &:focus-within > a {
			background-color: $red;
			color: $white;

			&::before {
				background: rgba($white, 0.4)
			}
		}
	} // .menu > li

	// With JS, the top anchor acts like a toggle and opens the submenu on click
	// JS is needed to add the proper markup to the menu items
	.menu-item-has-children > a {

		.js & + .sub-menu {
			visibility: hidden;
			opacity: 0;
		}


		.js &[aria-expanded=false] + .sub-menu {
			transition: 500ms opacity ease 0s, 0s visibility linear 500ms;
		}

		.js &[aria-expanded=true] + .sub-menu {
			visibility: visible;
			opacity: 1;
			transition: 500ms opacity ease 0s, 0s visibility linear 0s;
		}

		// triangle/arrow dropdown indicator
		&::after {
			border-left: 0.225em solid transparent;
			border-right: 0.225em solid transparent;
			border-top: 0.375em solid rgba($silver, 0.5);
			content: ''; // The aria labels added by JS make it clear that there are child items
			display: inline-block;
			width: 0;
			height: 0;
			margin-left: 0.25em;
			overflow: hidden;
			vertical-align: 0.125em;
			transition: transform 250ms ease;
		}

		&[aria-expanded=true]::after {
			transform: rotate(180deg);
		}
	}
} // .desktop-nav

.desktop-nav .sub-menu {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	min-width: 12rem;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999;
	// Visibility controlled futher up by .no-js classes and [aria-expanded] selectors

	li {
		background: $red;

		a {
			padding-top: 1rem;
			padding-bottom: 1rem;
			position: relative;
			transition: background 250ms ease;

			&:hover,
			&:focus {
				background: darken($red, 7%);
			}
		}
	}

	.current-menu-item a,
	.current-menu-item a:hover,
	.current-menu-item a:focus {
		background: darken($red, 7%);
		color: $cream;
		cursor: default;
	}

	li + li {
		border-top: 1px solid rgba($white, 0.4);
	}
} // .desktop-nav .sub-menu

.desktop-utility {
	@include social-icons;
	background: darken( $bluegray-dk, 4);
	text-align: right;

	a {
		border-bottom: 1px solid transparent;
		color: $white;
		display: inline-block;
		margin-left: $padding * 1.5;
		padding-top: 0.25em;
		padding-bottom: 0.25em;

		&:hover,
		&:focus {
			border-color: rgba($white, 0.4);
		}
	}
}


/*--------------------------------------------------------------
## Footer Nav
--------------------------------------------------------------*/

.site-footer .social-links {
	@include social-icons(true);
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: $padding * 3;
	margin-bottom: $padding * 3;

	.label {
		font-family: $font__alt;
		font-size: 1.25rem;
		margin-right: $padding;
		padding-top: 0.125em;

		@media screen and ($large-down) {
			display: none;
		}
	}

	// show icons only
	.text {
		@extend .screen-reader-text;
	}

	@media screen and ($large-up) {
		margin-top: $padding;
		margin-bottom: $padding;
	}
}


/*--------------------------------------------------------------
## Posts Nav
--------------------------------------------------------------*/

.post-navigation {
	@include clearfix;
	border-top: 2px solid $silver;
	border-bottom: 2px solid $silver;
	max-width: $size__site-narrow;
	margin: $padding * 4 auto;
	width: 100%;

	h3 {
		@extend .h6;
		color: $red;
		margin-bottom: 0;
	}

	p {
		margin-top: 0;
	}

	a {
		color: $bluegray;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $black;
		}
	}
}

.nav-previous {
	float: left;
	width: 50%;
}

.nav-next {
	float: right;
	text-align: right;
	width: 50%;
	.nav-previous + & {
		border-left: 2px solid $silver;
	}
}


/*--------------------------------------------------------------
## Page Nav
--------------------------------------------------------------*/

.pagination {
	width: 100%;
}

.nav-links {
	margin-bottom: $padding * 4;
	margin-top: $padding * 4;
	text-align: center;
}

.page-numbers {
	@include button(1px solid);
	@include fluid-units( 'font-size', 1.375, 2 );
	align-items: center;
	color: $bluegray-dk;
	display: inline-flex;
	height: 3rem;
	justify-content: center;
	margin-bottom: $padding;
	padding-top: 0.15em;
	width: 3rem;

	&.next,
	&.prev {
		border-color: transparent;
	}

	&:hover,
	&:focus,
	&.current {
		background: $color__link;
		border-color: $color__link;
		color: $white;
	}

	+ .page-numbers {
		margin-left: $padding * 0.75;
	}
}
