.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-title {
	text-align: center;
	span {
		color: $bluegray;
	}
}

// Sidebar
.widget-area {
	.h6 {
		margin-top: 0;
	}
	a {
		text-decoration: none;
	}
	li > a {
		color: $color__text-main;
		display: block;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
	}
} // .widget-area

.recent-posts-extended h3 {
	@extend .h4;
	margin-top: 0;
	text-align: center;
	a {
		color: $bluegray;
	}
}

// Metadata
.entry-meta {
	border-bottom: 1px solid $bluegray-lt;
	padding-bottom: $padding * 2;
}
.cat-links {
	margin-left: $padding / 2;
}

.posted-on {
	display: inline;
	+ p {
		display: inline;
	}
}

// hEntry
.hentry {
	@include clearfix;
	@include clearfix-after;
	width: 100%;
	display: block;

	.h4 {
		margin-top: 0;
	}

	a {
		color: $bluegray-dk;
		text-decoration: none;
	}

	&:hover,
	&:focus {
		.h4,
		a {
			color: $black;
		}
	}
}

// Search Results
.search-results {
	.site-content {
		max-width: $size__site-narrow;
	}

	.type-vehicle {
		a {
			align-items: flex-start;
			display: flex;
		}
		img {
			margin-right: $padding * 2;
			width: 10rem;
		}
		p {
			@include fluid-units( 'font-size', 0.85, 1 );
		}
	}
}
