.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-title {
	text-align: center;
	span {
		color: $bluegray;
	}
}

// Sidebar
.widget-area {
	a {
		text-decoration: none;
	}
	li > a {
		color: $color__text-main;
		display: block;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
	}
} // .widget-area

.recent-posts-extended h3 {
	@extend .h4;
	margin-top: 0;
	text-align: center;
	a {
		color: $bluegray;
	}
}