.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-title {
	text-align: center;

	span {
		color: $bluegray;
	}

	@media screen and ($large-up) {
		margin-top: $padding * 3;
		margin-bottom: $padding * 3;
	}
}

// Sidebar
.widget-area {

	.h6 {
		margin-top: 0;
	}

	a {
		text-decoration: none;
	}

	li > a {
		color: $bluegray;
		display: block;
		padding-top: 0.25em;
		padding-bottom: 0.25em;

		&:hover,
		&:focus {
			color: $black;
		}
	}

	@media screen and ($medium-down) {
		text-align: center;
	}
} // .widget-area

.recent-posts-extended h3 {
	@extend .h4;
	margin-top: 0;
	text-align: center;
	a {
		color: $bluegray;
	}
}

// Metadata
.entry-meta {
	border-bottom: 1px solid $bluegray-lt;
	padding-bottom: $padding * 2;
}
.cat-links {
	margin-left: $padding / 2;
}

.posted-on {
	display: inline;
	+ p {
		display: inline;
	}
}

// Cards
.card,
.rpwe-li {
	margin-bottom: $padding;
	h3 {
		color: $bluegray;
		line-height: 1em;
		margin-top: $padding / 2;
		margin-bottom: 0.25em;
		transition: all 0.15s;
	}

	a {
		color: $bluegray-dk;
		text-decoration: none;
	}

	img {
		display: block;
	}

	&:hover,
	&:focus {
		h3,
		a {
			color: $black;
		}
	}
}


// Vehicle Archives
// (all archive pages except Category, which we only have for Posts)
.archive:not(.category) {

	.site-main {
		align-content: flex-start;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.card {
		text-align: center;

		@media screen and ($medium-down) {
			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}

		@media screen and ($medium-up) {
			margin-right: $padding;
			width: calc(50% - #{($padding)});
		}

		@media screen and ($large-up) {
			margin-right: $padding * 2;
			width: calc(33.334% - #{($padding * 2)});

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
	}
}

// "Snipe" across top corner of cards for "Sold" vehicles
.card.type-vehicle.tag-sold,
.tag-sold .entry-content .ngg-gallery-thumbnail {
	
	a {
		display: block;
		position: relative;
		overflow: hidden;
		
		&::after {
			background-color: $red;
			color: $white;
			font-size: 1.125rem;
			font-weight: bold;
			content: 'SOLD';
			letter-spacing: 0.0625em;
			line-height: 1;
			padding: 0.375rem 6rem;
			position: absolute;
			top: 1.5rem;
			right: -5rem;
			transform: rotate(45deg);
		}
	}
}

.tag-sold .entry-content .ngg-gallery-thumbnail a::after {
	font-size: 0.9375rem;
	top: .75rem;
	right: -5.5rem;
}

// Search Results
.search-results {

	.site-content {
		max-width: $size__site-narrow;
	}

	.card {
		@include clearfix;
		@include clearfix-after;
		margin-bottom: $padding * 2;
		width: 100%;
		display: block;

		.h4 {
			margin: 0;
		}

		p {
			margin: 0;
		}
	}

	.type-vehicle {
		a {
			align-items: flex-start;
			display: flex;
		}
		img {
			margin-right: $padding * 2;
			width: 10rem;
		}
		p {
			@include fluid-units( 'font-size', 0.85, 1 );
		}
	}
}


// Single Vehicle
.single-vehicle .entry-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;

	> div,
	> img,
	> figure {
		width: 100%;
	}

	.ngg-galleryoverview + p, // vehicle description
	.term-links {
		margin: $padding;
		width: 24rem;
	}

	p,
	a {
		color: $bluegray;
	}

	a:hover,
	a:focus {
		color: $black;
	}
}

div.ngg-galleryoverview {
	margin-top: 0;
}

.ngg-gallery-thumbnail-box {
	margin: $padding / 2;

	@media screen and ($small-down) {
		margin: $padding / 4;
		width: 46%;
	}
}

.ngg-gallery-thumbnail img {
	transition: all 0.15s;
}


// Single Post
.single-post h1 {
	@extend .h2;
	color: $red;
	margin-bottom: $padding * 3;
}


// Basic Page
.page-template-default .site-content {
	max-width: $size__site-narrow;
}


// Front Page / Homepage

.home .wp-block-cover {
	border-bottom: 5px solid $red;
	padding-top: $padding * 2;
	padding-bottom: $padding * 2;

	.wp-block-cover__inner-container {
		background: rgba($red, 0.8);
		box-shadow: 0 $padding/2 $padding/2 rgba($black, 0.75);
		margin-left: $padding;
		margin-right: $padding;
		max-width: 57rem;
		padding: $padding;
		width: 100%;

		@media screen and ($large-up) {
			padding: $padding * 2;
		}
	}

	p {
		margin: 0;
	}

	.has-large-font-size {
		border-bottom: 2px solid $silver;
		color: $silver;
		letter-spacing: 0.03125em;
		line-height: 1;
		margin-bottom: $padding;
		padding-bottom: $padding;
		text-shadow: 0.0em 0.075em 0.15em rgba($black, 0.75);
		text-transform: uppercase;

		+ p {
			@include fluid-units( 'font-size', 1.125, 1.37 );
			padding-left: $padding;
			padding-right: $padding;
			text-shadow: 0em 0.2em 0.275em rgba($black, 0.75);
		}
	}

	@media screen and ($large-up) {
		padding-top: $padding * 10;
		padding-bottom: $padding * 10;
	}
} // .home .wp-block-cover

.wp-block-group.brands {
	padding-top: $padding;

	h2 {
		margin-bottom: $padding * 4;
	}

	.wp-block-image {
		margin-bottom: $padding * 6;
	}

	.wp-block-columns {
		margin-bottom: 0;
	}
}

.recent-deliveries,
.related-vehicles {
	padding-top: $padding * 2;
	padding-bottom: $padding * 2;
	text-align: center;

	h2 {
		margin-bottom: $padding * 2;
	}

	@media screen and ($medium-up) {

		> div {
			display: flex;
			flex-wrap: wrap;
		}

		.card {
			margin-right: $padding * 2;
			width: calc(50% - #{($padding * 1.5)});

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
	}

	@media screen and ($large-up) {

		.card {
			width: calc(25% - #{($padding * 1.5)});

			&:nth-of-type(2n) {
				margin-right: $padding * 2;
			}

			&:nth-of-type(4n) {
				margin-right: 0;
			}
		}
	}
}	 // .recent-deliveries


// 404 Page
@media screen and ($large-up) {
	.error404 {

		.site-content {
			min-height: 24rem;
			text-align: center;
		}

	}
}